.community {
  
  &__layout {
    height: 1080px;
    background: white;
  }

  &__header {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    margin-left: 35vw;
  }

  &__title {
    position: relative;
    max-width: 266px; 
    height: auto;
  }  

  &__btn {
  position: relative;
   max-width: 91px;
   height: auto; 
  }
  &__sub {
    position: absolute;
    margin-top: 20vh;
  }
}
