.background-contact {
  height: 462px;
  background-color: #FFDAC9;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center; 
}

.contact-div {
  width: 30vw;
}

.contact-form {
  max-width: 525px;
  height: 222px;
}