.home {
  height: 100vh;
  background: url('../header/assets/bg-pic.png') no-repeat scroll;
  direction: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  background-color: #FFDAC9;

  
}
.big-text {
  margin: 0 auto;
  margin-top: 40vh;
  background-attachment: fixed;
}