.map-display {
  height: 500px;
  width: 100%;
  background-color: #FFDAC9;
  position: relative;

}

.map-title-png {
  height: 7rem;
  z-index: 10;
  float: left;
  position: relative;
  margin-left: 15vh;
  margin-top: 8vh;
  top: 0;
  left: 0;
}

