@mixin flex-baseline {
    display: flex;
    align-items: baseline;
}

.navbar {
    @include flex-baseline;
    width: 100%;
    overflow: hidden;
    position: fixed;
    justify-content: space-between;
    text-transform: uppercase;
    font-size: 18px;
    top: 0;
    z-index: 1000;
}

.ul-nav {
    @include flex-baseline;
    flex-direction: row;
    list-style: none;
    position: sticky;
    padding-left: 2rem;
    padding-right: 2rem;
}

li {
    padding-right: 2rem;
}

.logo {
    font-size: 28px;
}