.background-menu {
  background-color: #F8F8F8 ;
  margin: 0;
  height: 100vh;
  overflow: hidden;
  position: relative;
    display: flex;
  flex-direction: row;
}
.column-grid {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}
.menu-column {
  width: 267px;
  z-index: 99;
}
.starter-col {
  margin-top: 310vh;
}
.main-col {
  margin-top: -275vh;
}
.sides-col {
  margin-top: 310vh;
}
.dessert-col {
  margin-top: -275vh;
}